.footer {
  background-color: var(--color-primary-dark);
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: '';
} 

.footer::before {
  background-image: url(/images/decor-bread-left.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(/images/bread-decor-right.png);
  width: 380px;
  height: 190px;
  right: 0;
}

.footer-container {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-icons {
  display: flex;
  gap: 22px;
  padding-top: 16px;
}

.address-list,
.address-info{
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  font-weight: 400;
  color: #A18268;
}

.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-light);
}